$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin media-down($breakpoint) {
  @media (max-width: #{map-get($breakpoints, $breakpoint) - 0.02px}) {
    @content;
  }
}

:root {
  --breakpoint-sm: #{map-get($breakpoints, sm)};
  --breakpoint-md: #{map-get($breakpoints, md)};
  --breakpoint-lg: #{map-get($breakpoints, lg)};
  --breakpoint-xl: #{map-get($breakpoints, xl)};
  --breakpoint-xxl: #{map-get($breakpoints, xxl)};
}
