// Cores Primitivas / Brand
$color-primary: #0B7A75;
$color-secondary: #E28413;
$color-error: #9C0D38;

// Primitivos do Light Theme
$light-surface: #F3F1EA;
$light-container: #FFFFFF;
$light-text-color: #8C8C8C;
$light-text-color-accent: #222222;

// Primitivos do Dark Theme
$dark-surface: #222222;
$dark-container: #1E1E1E;
$dark-text-color: #8C8C8C;
$dark-text-color-accent: #FFFFFF;

// Font Families
$font-family-sans: 'Google Sans Flex', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-family-code: 'Google Sans Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;