@use '../variables' as vars;

$primary: var(--bui-color-primary);
$error: var(--bui-color-error);

$surface: var(--bui-color-surface);
$container: var(--bui-color-container);
$text-color: var(--bui-color-text);
$text-color-accent: var(--bui-color-text-accent);
