$neutral-0: #000000;
$neutral-10: #161d18;
$neutral-20: #2b322c;
$neutral-25: #363d37;
$neutral-30: #414942;
$neutral-35: #4d544e;
$neutral-40: #586059;
$neutral-50: #717972;
$neutral-60: #8b938b;
$neutral-70: #a5ada5;
$neutral-80: #c1c9c0;
$neutral-90: #dde5dc;
$neutral-95: #ebf3ea;
$neutral-98: #f4fcf2;
$neutral-99: #f7fef5;
$neutral-100: #ffffff;

$neutral-variant-0: #000000;
$neutral-variant-10: #1b1c1c;
$neutral-variant-20: #303030;
$neutral-variant-25: #3c3b3b;
$neutral-variant-30: #474746;
$neutral-variant-35: #535252;
$neutral-variant-40: #5f5e5e;
$neutral-variant-50: #787776;
$neutral-variant-60: #929090;
$neutral-variant-70: #adabaa;
$neutral-variant-80: #c8c6c5;
$neutral-variant-90: #e5e2e1;
$neutral-variant-95: #f3f0ef;
$neutral-variant-98: #fcf9f8;
$neutral-variant-99: #fffbfb;
$neutral-variant-100: #ffffff;

$green-0: #000000;
$green-10: #002106;
$green-20: #003910;
$green-25: #004615;
$green-30: #00531b;
$green-35: #0a6023;
$green-40: #1d6c2e;
$green-50: #3a8644;
$green-60: #54a15b;
$green-70: #6fbc74;
$green-80: #89d98d;
$green-90: #a4f5a6;
$green-95: #c7ffc4;
$green-98: #ebffe6;
$green-99: #f6fff1;
$green-100: #ffffff;

$purple-0: #000000;
$purple-10: #1d0061;
$purple-20: #331f77;
$purple-25: #3e2c82;
$purple-30: #4a388e;
$purple-35: #56449b;
$purple-40: #6251a8;
$purple-50: #7b6ac3;
$purple-60: #9584df;
$purple-70: #b09efc;
$purple-80: #cbbeff;
$purple-90: #e6deff;
$purple-95: #f4eeff;
$purple-98: #fdf8ff;
$purple-99: #fffbff;
$purple-100: #ffffff;

$error-0: #000000;
$error-10: #400009;
$error-20: #680015;
$error-25: #7d001b;
$error-30: #920022;
$error-35: #a80229;
$error-40: #b91833;
$error-50: #dd3649;
$error-60: #ff5261;
$error-70: #ff888b;
$error-80: #ffb3b3;
$error-90: #ffdad9;
$error-95: #ffedec;
$error-98: #fff8f7;
$error-99: #fffbff;
$error-100: #ffffff;