$white: #ffffff;
$black: #000000;

$gray-900: #222222;

$linen: #D4DCD3;

$green-50: #e9fde9;
$green-100: #c9f9c9;
$green-200: #A4F5A6;
$green-300: #7ff082;
$green-400: #65e86a;
$green-500: #4ee152;
$green-600: #42d047;
$green-700: #34bc3b;
$green-800: #28aa30;
$green-900: #08891c;

$purple: #B3A1FF;
$red: #B10F2E;